.header {

    &__logo {

        img {

        }

    }

    // Mobile menu
    &__menu {
        display: block;
        width: 26px;
        height: 2px;
        background-color: $darkBlue;
    }
}
 