.header {

    nav {
        padding: 24px;
    }

    &__logo {

        img {

        }

    }

    // Mobile menu
    &__menu {

        > span {
            display: block;
            width: 26px;
            height: 2px;
            background-color: $darkBlue;

            &:not(:last-child){
                margin-bottom: 3px;
            }
        }
    }
}

// Links for desktop app
&__links {
    a {

    }
}
