.flex {
    display: flex;
    gap: var(--gap, 2rem);
}

body {
    background-image: url("/bg.jpg");
}

.logo {
    margin: 2rem;
}

.logo > * {
    color: white;
}

.primary-header {
    align-items: center;
    justify-content: space-between;
}

nav {
    text-transform: uppercase;
}

.primary-navigation {
    margin: 0;
    padding: 0;
    list-style: none;
}

.primary-navigation a {
    text-decoration: none;
    color: white;
}

.primary-navigation a > span {
    font-weight: 700;
    margin-inline-end: 0.75em;
}

@media (max-width: 35em) {
    .primary-navigation {
        position: fixed;
        inset: 0 0 0 30%;

        flex-direction: column;
        background: slateblue;
    }
}


