.flex {
    display: flex;
    gap: var(--gap, 2rem);
}

.logo {
    margin: 2rem;
}

.primary-header {
    align-items: center;
    justify-content: space-between;
}

.primary-navigation {
    margin: 0;
    padding: 0;
    list-style: none;
}
.primary-navigation a {
    text-decoration: none;
}

.primary-navigation a > span {
    font-weight: 700;
    margin-inline-end: 0.75em;
}

nav {
    text-transform: uppercase;
}

