.flex {
    display: flex;
    gap: var(--gap, 2rem);
}

body {
    background-image: url("/background-home-tablet.jpg");
    background-repeat: no-repeat;
    background-position: cover;

    overflow-x: hidden;
}

.logo {
    margin: 2rem;
}

.logo > * {
    color: white;
}

.primary-header {
    align-items: center;
    justify-content: space-between;
}

.mobile-nav-toggle {
    display: none;
}

nav {
    text-transform: uppercase;
}

.primary-navigation {
    margin: 0;
    padding: 0;
    list-style: none;
    
    background: hsl(0 0% 0% / 0.5);
    backdrop-filter: blur(0.5rem);
}

@supports (backdrop-filter: blur(0.5rem)) {
    .primary-navigation {
        background: hsl(0 0% 100% / 0.1);
        backdrop-filter: blur(1rem);
    }
}

.primary-navigation a {
    text-decoration: none;
    color: white;
}

.primary-navigation a > span {
    font-weight: 700;
    margin-inline-end: 0.75em;
}

@media (max-width: 35em) {
    .primary-navigation {
        --gap: 2em;

        position: fixed;
        z-index: 1000;
        inset: 0 0 0 30%;

        flex-direction: column;
        padding: min(30vh, 10rem) 2rem;

        transform: translateX(100%);
        transition: transform 300ms ease-in-out;
    }

    .primary-navigation[data-visible="true"] {
        transform: translateX(0%);
    }

    .mobile-nav-toggle {
        display: block;
        position: absolute;
        z-index: 9999;
        background: url("/icon-hamburger.svg");
        background-repeat: no-repeat;
        width: 2rem;
        border: 0;
        aspect-ratio: 1;
        top: 2rem;
        right: 2rem;
    }
}


