:root {
    /* either --dark-mode or --no-dark-mode */
    --color-scheme: var(--dark-mode);
  
    --font-family: "Space Grotesk", sans-serif;
    --fs-400: 1rem;
    --fs-500: 1.125rem;
    --fw-regular: 400;
    --fw-semi-bold: 500;
  
    --clr-neutral-100: hsl(0, 0%, 100%);
    --clr-neutral-200: hsl(270, 3%, 87%);
    --clr-neutral-300: hsl(279, 6%, 55%);
    --clr-primary-400: hsl(249, 99%, 64%);
    --clr-primary-500: hsl(278, 94%, 30%);
    --clr-primary-800: hsl(278, 68%, 11%);
    --clr-accent-400: hsl(0, 100%, 66%);
    --gradient-1: var(--clr-primary-400, --clr-primary-500);
  
    /* settings */
    --no-dark-mode: light;
    --dark-mode: dark light;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  
  html {
    color-scheme: var(--color-scheme);
  }
   
  body {
    margin: 0;
    font-family: var(--font-family);
    font-size: var(--fs-400);
    line-height: 1.6;
  }
  
  .content-grid > * {
    border: 1px solid blue;
  }

  img {
    max-width: 100%;
    display: block;
  }

  .card-front,
  .card-back {
    position: relative;
    width: min-content ;
    border: 1px solid salmon;
  }

  .card-front > *:not(.card-front__bg),
  .card-back > *:not(.card-back__bg) {
    position: absolute;
  }

  .card-front__bg,
  .card-back__bg {
    max-width: revert;
  }

  .card-front__logo {
    top: 2rem;
    left: 2rem;
  }

  .card-front__number {
    font-size: 1.925rem; 
  }
