@import url('https://fonts.googleapis.com/css?family=Work+Sans:300,600');

/* Background colour and opacity for header bar */
:root {
    --background: rgba(34, 34, 34, .75)
}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    background: whitesmoke;
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
}

/* Navigation styles start here */
header {
    background: var(--background);
    text-align: center;
    position: fixed;
    z-index: 999;
    width: 100%;
}

/* Logo */
.logo {
    color: #45f192;
}

.logo span {
    color: whitesmoke;
}
/* Hides checkbox that is selected by the program when user selects menu bars in header bar */
.nav-toggle {
    display: none;
}

/* Container for collapsed menu icon */
.nav-toggle-label {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 1em;
    /*border: 1px solid red;*/
    height: 100%;
    display: flex;
    align-items: center;
}

/* Bars for collapsed menu icon */
.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
    display: block;
    background: #45f192;
    height: 2px;
    width: 2em;
    border-radius: 2px;
    position: relative;
}


.nav-toggle-label span::before,
.nav-toggle-label span::after {
    content: '';
    position: absolute;
}

.nav-toggle-label span::before {
    bottom: 7px;
}

.nav-toggle-label span::after {
    top: 8px;
}

nav {
    position: absolute;
    text-align: left;
    top: 100%;
    left: 0;
    background: var(--background);
    width: 100%;
    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 400ms ease-in-out;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    margin-bottom: 1em;
    margin-left: 1em;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    text-transform: uppercase;
    opacity: 0;
    transition: opacity 150ms ease-in-out;
}

nav a:hover {
    color: #45f192;
}

.nav-toggle:checked ~ nav {
    transform: scale(1, 1);
}

.nav-toggle:checked ~ nav a {
    opacity: 1;
    transition: opacity 250ms ease-in-out 250ms;
}

.scroller {
    background-image: url('../img/image-16.jpg');
    color: whitesmoke;
    background-color: rgb(83, 83, 83);
    background-blend-mode: multiply;
    padding: 40px;
    background-size: cover;
    /*display: flex;*/
    height: 780px;
}

.scroller p {
    outline: 1px solid forestgreen;
}

.scroller h2 {
    outline: 1px solid wheat;
    padding: 100px 40px 40px 0px;
}

/* Showcase box */
.sc-box {
    color: black;
    text-align: right;
    padding: 0px 40px 10px 40px;
}

@media screen and (min-width: 800px) {
    .nav-toggle-label {
        display: none;
    }
    
    header {
        display: grid;
        grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;
    }

    .logo {
        grid-column: 2 / span 1;
    }

    nav {
        all: unset;
        grid-column: 3 / 4;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    nav ul {
        display: flex;
    }

    nav li {
        margin-left: 3em;
        margin-bottom: 0;
    }
    
    nav a {
        opacity: 1;
        position: relative;
    }

    nav a::before {
        content: '';
        display: block;
        height: 5px;
        background: #45f192;
        position: absolute;
        top: -.75em;
        left: 0;
        right: 0;
        transform: scale(0, 1);
        transition: transform ease-in-out 250ms;
    }

    nav a:hover::before {
        transform: scale(1, 1);
    }
}
