{% extends 'layout.html' %}
<!-- Head -->
{%block title%}about | gaslitcatfish{%endblock%}
<!-- Body -->
<!-- Header -->
{%block header%}
<h1 class="logo">gaslit<span>catfish</span></h1>
<input type="checkbox" id="nav-toggle" class="nav-toggle" />
<nav>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="#">Services</a></li>
    <li><a href="#">Contact</a></li>
  </ul>
</nav>
<label for="nav-toggle" class="nav-toggle-label">
  <span></span>
</label>
{%endblock%}
<!-- Content -->
{%block content%} {%endblock%}
<!-- Footer -->
{%block footer%}
<h6>gaslitcatfish &copy; 2023</h6>
{%endblock%}
