{% extends 'layout.html' %}
<!-- Head -->
{%block title%}home | gaslitcatfish{%endblock%}
<!-- Header -->
{%block header%}
<h1 class="logo">gaslit<span>catfish</span></h1>
<input type="checkbox" id="nav-toggle" class="nav-toggle" />
<nav>
  <ul>
    <li><a href="#">Home</a></li>
    <li><a href="#">About</a></li>
    <li><a href="#">Services</a></li>
    <li><a href="#">Contact</a></li>
  </ul>
</nav>
<label for="nav-toggle" class="nav-toggle-label">
  <span></span>
</label>
{%endblock%}
<!-- Body -->
{%block content%}
<!-- Scroller -->
<div class="scroller">
  <div class="scr-box">
    <p>
      Flavoured dosage within the host can be juxtaposed at zenith by most
      quarks. Gee, Caz looks queerly much better in woven flax jodhpurs.
      Juggling fuzzy axial suction waves past quiet razorback mouthing. Mezcal
      might revoke jinxed alterations when fit nymphs quit all but reason. Pet
      jammy crazed dog before ok to wax ventriloquistic here. Poor vortex
      hedging of quizzicalities furiously blew my junk. Sex-crazed power quips
      fair galvanized the mock jury box.
    </p>
    <h2>custom web environments</h2>
  </div>
</div>
<div class="scs-box">
  <h2 style="font-weight: 400">
    <span style="font-weight: 600">gaslit</span>catfish
  </h2>
  <p>
    Flavoured dosage within the host can be juxtaposed at zenith by most quarks.
    Gee, Caz looks queerly much better in woven flax jodhpurs. Juggling fuzzy
    axial suction waves past quiet razorback mouthing. Mezcal might revoke
    jinxed alterations when fit nymphs quit all but reason. Pet jammy crazed dog
    before ok to wax ventriloquistic here. Poor vortex hedging of quizzicalities
    furiously blew my junk. Sex-crazed power quips fair galvanized the mock jury
    box.
  </p>
</div>
<article class="tn-container">
  <div class="tn-box">
    <!-- .tn-box > *:nth-of-type(1) -->
    <section class="tn-heading">
      <h3><strong>Premium Services</strong></h3>
      <p></p>
    </section>
    <!-- .tn-box > *:nth-of-type(2) -->
    <section class="thumbnails">
      <!-- Thumbnail 1 -->
      <div class="thumbnail">
        <h4>Websites & Apps</h4>
        <h5>Design to Deployment</h5>
        <img src="static/img/image-17.jpg" alt="" />
        <p>Click on image to go to the Websites page.</p>
      </div>
      <!-- Thumbnail 2 -->
      <div class="thumbnail">
        <h4>Web Hosting</h4>
        <h5>Tailored Solutions</h5>
        <img src="static/img/image-17.jpg" alt="" />
        <p>Click on image to go to the Application page.</p>
      </div>
      <!-- Thumbnail 3 -->
      <div class="thumbnail">
        <h4>Maintenance & Updates</h4>
        <h5>Tech Support</h5>
        <img src="static/img/image-17.jpg" alt="" />
        <p>Click on image to go to the Technical page.</p>
      </div>
    </section>
  </div>
</article>
{%endblock%}
<!-- Footer -->
{%block footer%}
<h6>&copy; 2023</h6>
{%endblock%}
