<!DOCTYPE html>
<html lang="en">
  <!-- Head -->
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Tags -->
    <meta name="description" content="web design" />
    <meta
      name="keywords"
      content="web design, web page design, website design, web hosting, tech support"
    />
    <meta name="author" content="Wayne McRae" />
    <!-- CSS -->
    <link rel="stylesheet" href="../static/css/style.css" />
    <!-- Title -->
    <title>{%block title%}{%endblock%}</title>
  </head>
  <!-- Body -->
  <body>
    <!-- Header -->
    <header>{%block header%}{%endblock%}</header>
    {%block content%}{%endblock%}
    <!-- Footer -->
    <footer></footer>
  </body>
</html>
